.swatch-picker {
  // TODO remove this in favor of hex color as style attr
  $light-green: #9ccc65;
  $green: #66bb6a;
  $teal: #26a69a;
  $cyan: #26c6da;
  $light-blue: #29b6f6;
  $blue: #42a5f5;
  $indiego: #5c6bc0;
  $deep-purple: #7e57c2;
  $purple: #ab47bc;
  $pink: #ec407a;
  $red: #ef5350;
  .selected-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    cursor: pointer;
    &.active {
      border-bottom: 1px solid #26a69a;
      box-shadow: 0 1px 0 0 #26a69a;
    }
    &:after {
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      position: absolute;
      right: 20px;
      top: 23px;
    }
  }
  .swatches {
    padding: 10px 0 0;
    margin: 0;
    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid lightgrey;
      position: absolute;
      top: -15px;
      right: 10px;
    }
    &:after {
      border-bottom: 16px solid #fff;
      top: -14px;
    }
    &.hidden {
      display: none;
    }
  }
  .swatch {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 10px;
    &:hover {
      color: #999;
    }
  }
  .preview {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
  }
  .light-green .preview {
    background: $light-green;
  }
  .green .preview {
    background: $green;
  }
  .teal .preview {
    background: $teal;
  }
  .cyan .preview {
    background: $cyan;
  }
  .light-blue .preview {
    background: $light-blue;
  }
  .blue .preview {
    background: $blue;
  }
  .indigo .preview {
    background: $indiego;
  }
  .deep-purple .preview {
    background: $deep-purple;
  }
  .purple .preview {
    background: $purple;
  }
  .pink .preview {
    background: $pink;
  }
  .red .preview {
    background: $red;
  }
}